
.mdl-layout__header-row span.mdl-layout-title {
  color: #ffb648;
  text-transform: uppercase;

}
.backg{
	background: url('../images/background.jpg') center / cover;
	/*background-repeat: no-repeat;*/
	background-color: #263238;
    background-position-y: 534px;
    background-size: cover;
    padding: 0;
    width: 100%;
}
.mdl-mini-footer{
	padding: 6px 16px !important;
	background-color: rgb(52, 54, 56) !important;
}
.titleMoB{
	color: #ffb648;
    text-transform: uppercase;
    position: relative;
}
.demo-main {
  margin-top: -27vh;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}
/*
.demo-content h3 {
  margin-top: 48px;
}*/


.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.demo-card-square.mdl-card {
  width: 280px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('../images/NavPelCoracao.png') bottom right 15% no-repeat #46B6AD;
    position: relative;
    background-position-y: -34px;
    background-size: 282px;
}
.tedLat{
    float: left;
    margin: 10px;
}

.mdl-black-transp{
	background-color: rgba(2, 2, 2, 0.45) !important;
}
.mdl-white_colr{
	color: rgb(255, 255, 255) !important;
}

.trioPerson{
    position: relative;
    top: 40px;
    left: -38px;
}
.lucca{
	background-image: url('../images/lucca_transp.png');
	height: 163px;
    width: 190px;
    border: solid 1px;
    background-repeat: no-repeat;
    float: left;
    margin: 18px;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.lucca:hover{
	background-image: url('../images/lucca.png');
	height: 163px;
    width: 190px;
    border: solid 1px;
    background-repeat: no-repeat;
    float: left;
    margin: 18px;
    cursor: pointer;
webkit-transform: scale(1.1);
transform: scale(1.1);
}

/*********** End Lucca Transition ******/

.mikaela{
	background-image: url('../images/mikaela_transp.png');
	height: 278px;
    width: 190px;
    border: solid 1px;
    background-repeat: no-repeat;
    float: left;
    margin: 18px;
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
transition-duration: 0.3s;
transition-property: transform;
transition-timing-function: ease-out;
}
.mikaela:hover{
	background-image: url('../images/mikaela.png');
	height: 278px;
    width: 190px;
    border: solid 1px;
    background-repeat: no-repeat;
    float: left;
    margin: 18px;
webkit-transform: scale(1.1);
transform: scale(1.1);
}

/*********** End Mikaela Transition ******/

.mirela{
	background-image: url('../images/mirela_transp.png');
	height: 173px;
    width: 233px;
    border: solid 1px;
    background-repeat: no-repeat;
    float: left;
    margin: 18px;
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
transition-duration: 0.3s;
transition-property: transform;
transition-timing-function: ease-out;
}
.mirela:hover{
	background-image: url('../images/mirela.png');
	height: 173px;
    width: 233px;
    border: solid 1px;
    background-repeat: no-repeat;
    float: left;
    margin: 18px;
webkit-transform: scale(1.1);
transform: scale(1.1);
}



/***************************************/

